@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
/* Compactfox by 7x3 !! */
/* Remove Back and Forward button when there's nothing to go to */

#back-button[disabled="true"],
#forward-button[disabled="true"] {
    display: none;
    padding: 0px;
}
/* Change the big round back button for a smaller rectangular one */

:root #back-button > .toolbarbutton-icon {
    -moz-image-region: rect(0, 54px, 18px, 36px);
    border-radius: 2px 0 0 2px !important;
    padding: 2px !important;
    margin-left: 2px !important;
    height: 19px !important;
    margin: 0px !important;
    width: auto !important;
}
/* Change the big round forward button for a smaller rectangular one */
:root #forward-button > .toolbarbutton-icon {
    -moz-image-region: rect(0, 72px, 18px, 54px);
    border-radius: 2px 0 0 2px !important;
    padding:2px !important;
    margin-left: 2px !important;
    height: 18px !important;
    margin: 0px !important;
    width: auto !important;
    border: none !important;
}
/* Shrink tab titles by 10% */

.tabbrowser-tabs .tab-text {
    font-size: 90%;
}
/* de-fog tabbar and invert buttons for better visibility */
#TabsToolbar .tabs-newtab-button,
#TabsToolbar #alltabs-button[type="menu"],
#TabsToolbar .toolbarbutton-1 .dropmarker-icon {
    list-style-image: url("chrome://browser/skin/toolbarbutton-dropdown-arrow-inverted.png") !important;
}
#TabsToolbar #tabview-button {
    list-style-image: url("chrome://browser/skin/tabview/tabview-inverted.png") !important;
}
/* rectangular space-saving tabs (partially from http://userstyles.org/styles/99560/square-tab-for-firefox-australis) */

#TabsToolbar .arrowscrollbox-scrollbox {
    padding: 0 !important;
}
#TabsToolbar .tabbrowser-tab {
    -moz-border-top-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-bottom-colors: none !important;
    border-style: solid !important;
    border-color: rgba(0, 0, 0, .2) !important;
    border-width: 1px 1px 0 !important;
    border-radius: 1px 1px 0 0 !important;
    text-shadow: 0 0 4px rgba(255, 255, 255, .75) !important;
    background: rgba(255, 255, 255, .27) !important;
    background-clip: padding-box !important;
}
#TabsToolbar .tabbrowser-tab:not([pinned]) {
    margin: 0 !important;
}
#TabsToolbar .tabbrowser-tab[selected] {
    background: #EAF2FA !important;
    background-clip: padding-box !important;
    border-color: rgba(0, 0, 0, .25) !important;
}
#TabsToolbar .tab-background {
    margin: 0 !important;
    background: transparent !important;
}
#TabsToolbar .tab-background-start,
#TabsToolbar .tab-background-end {
    display: none !important;
}
#TabsToolbar .tab-background-middle {
    margin: -4px -2px !important;
    background: transparent !important;
}
#TabsToolbar .tabbrowser-tab:after,
#TabsToolbar .tabbrowser-tab:before {
    display: none !important;
}
#TabsToolbar .tab-throbber:not([pinned]),
#TabsToolbar .tab-icon-image:not([pinned]) {
    -moz-margin-start: -4px !important;
}
.tab-close-button:not([pinned]) {
    -moz-margin-end: -4px !important;
}
#TabsToolbar .toolbarbutton-1 {
    margin-bottom: -1px !important;
}
/* emulate highlighting of "all tabs" button on new background tab */

.tabbrowser-arrowscrollbox > .scrollbutton-down[notifybgtab] {
    display: block !important;
    list-style-image: url(chrome://browser/skin/toolbarbutton-dropdown-arrow-inverted.png) !important;
    -moz-image-region: auto !important;
    border: none !important;
    padding: 1px 6px 0 !important;
    margin: 0 -46px 0 25px !important;
}
window:not([chromehidden~="toolbar"]) #urlbar-wrapper {
    clip-path: none !important;
    margin-left: 1px !important;
}
window:not([chromehidden~="toolbar"]) #urlbar-wrapper > #forward-button[disabled] {
    display: none;
}
/* Tab Size and Color */

.tabbrowser-tab:not([pinned]) {
    max-width: 150px !important;
    min-width: 30px !important;
}
.tabbrowser-tab:not([fadein]) {
    max-width: 1px !important;
    min-width: 1px !important;
}
Color * #TabsToolbar {
    text-shadow: none!important;
    color: #18191a !important;
}
/* Nav-bar Color */

menubar,
toolbar,
nav-bar,
findbar,
#TabsToolbar > * {
    background-color: rgb(255, 255, 255) !important;
}
#navigator-toolbox {
    background-color: rgb(255, 255, 255) !important;
}
/*Change URL bar Color */

#urlbar {
    background-color: #F6F6F6 !important;
    color: #000000 !important;
}
/*===============================================
HIDE ANNOYING ELEMENTS
===============================================*/

#addonbar-closebutton,
#feed-button,
#go-button,
#star-button,
#identity-box,
#plugins-notification-icon,
#reader-mode-button,
#notification-popup-box,
#urlbar-go-button,
#urlbar-stop-button,
#urlbar-reload-button,
#context-back image,
#context-forward image,
#context-reload image,
#context-stop image,
#context-bookmarkpage image,
#context-navigation,
#context-sep-navigation,
#PanelUI-menu-button,
#bookmarks-menu-button,
#pocket-button,
#downloads-button,
#home-button,
#loop-button,
#TabsToolbar .tabs-newtab-button,
toolbarbutton dropmarker,
.search-go-button,
.removesearch,
.autocomplete-history-dropmarker,
.scrollbutton-up,
.scrollbutton-down {
    display: none!important;
}
#unified-back-forward-button {
    -moz-transition-property: margin-right;
    -moz-transition-duration: 100ms;
    -moz-transition-timing-function: ease-out;
}
#urlbar-container {
    -moz-transition-property: width;
    -moz-transition-duration: 100ms;
    -moz-transition-timing-function: ease-out;
    font-size: 10px;
}
/* urlbar border tweaks */

#urlbar {
    border: 1px solid ThreeDShadow !important;
}

#urlbar[focused] {
    border-color: #000000 !important;
	box-shadow: none !important;
}
/* Tabs toolbar tab close button (Fx31+) */

#main-window #navigator-toolbox #TabsToolbar #tabbrowser-tabs .tabbrowser-tab .tab-close-button,
#navigator-toolbox #TabsToolbar #tabs-closebutton,
#navigator-toolbox #TabsToolbar #ctraddon_tabs-closebutton {
    -moz-image-region: rect(0, 20px, 20px, 0) !important;
}
#main-window #navigator-toolbox #TabsToolbar #tabbrowser-tabs .tabbrowser-tab .tab-close-button:hover,
#navigator-toolbox #TabsToolbar #tabs-closebutton:hover,
#navigator-toolbox #TabsToolbar #ctraddon_tabs-closebutton:hover {
    -moz-image-region: rect(0, 40px, 20px, 20px) !important;
}
#main-window #navigator-toolbox #TabsToolbar #tabbrowser-tabs .tabbrowser-tab .tab-close-button:hover:active,
#navigator-toolbox #TabsToolbar #tabs-closebutton:hover:active,
#navigator-toolbox #TabsToolbar #ctraddon_tabs-closebutton:hover:active {
    -moz-image-region: rect(0, 60px, 20px, 40px) !important;
}
#main-window #navigator-toolbox #TabsToolbar #tabbrowser-tabs .tabbrowser-tab .tab-close-button {
    opacity: 1.0 !important;
}
#TabsToolbar .close-icon > .toolbarbutton-icon {
    width: 16px !important;
}
/* Windows 10 url bar tweaking */

#main-window[fx40plus="true"]:not([fx42plus="true"])[defaultfxtheme="true"] #notification-popup-box[hidden] + * {
    -moz-padding-start: 0px !important;
}
#main-window[fx42plus="true"][defaultfxtheme="true"] #nav-bar #notification-popup-box[hidden] + * {
    -moz-padding-start: 4px !important;
}
#urlbar-wrapper,
#urlbar,
.searchbar-textbox {
    min-height: 21px !important;
    height: 21px !important;
}
#searchbar .autocomplete-textbox,
#urlbar .autocomplete-textbox {
    font-size: 100% !important;
}
#urlbar {
    padding-top: unset !important;
    padding-bottom: unset !important;
}
#searchbar .searchbar-search-button {
    margin-top: unset !important;
    margin-bottom: unset !important;
    padding-top: unset !important;
    padding-bottom: unset !important;
}
#urlbar[pageproxystate="valid"] .verifiedDomain,
#urlbar[pageproxystate="valid"] .verifiedIdentity {
    background: unset !important;
}
#urlbar[pageproxystate="valid"] .verifiedIdentity,
#urlbar[pageproxystate="valid"] .verifiedDomain {
    /*margin-top: 1px !important;
		  margin-bottom: 1px !important;
		  -moz-margin-start: 1px !important;*/
    
    ;
}

/* END: urlbar border tweaking (default theme does not provide left urlbar border) */
/** Addons to right */

#TabsToolbar {
    margin-top: -1px !important
}
#main-window[tabsintitlebar] .titlebar-placeholder {
    margin-left: 0 !important
}
/** Smaller Nav bar **/

#TabsToolbar,
#tabbrowser-tabs,
.tab-background-start[selected="true"]:after,
.tab-background-start[selected="true"]:before,
.tab-background-start,
.tab-background-end,
.tab-background-end[selected="true"]:after,
.tab-background-end[selected="true"]:before {
    min-height: 24px !important;
    max-height: 24px !important
}

#TabsToolbar #alltabs-button { 
display:none!important; 
}
